# Ignore build directories
target/
build/

# Ignore temporary files and directories
*.log
*.tmp
*.swp
*.swo
*.bak
*.old

# Ignore IDE-specific files and directories
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.code-workspace

# Ignore OS-specific files and directories
.DS_Store
Thumbs.db

# Ignore node_modules if you have a frontend project
node_modules/

# Ignore Helm chart directories
helm/

# Ignore Kubernetes configuration files
k8s/